<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="../static/DashBoard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="E:\ic project\bootsrap 4\project-1\js\all.js"></script>
    <title>Home page</title>
</head>
<body style="background-color: slategrey;">
 <div class="container">
     <!-- navigation bar -->
     <div class="row">
        <div class="col-lg-3  col-sm-12 col-xs-12 bg-dark nav-property">
            <div class="container">
                <div class="row justify-content-center py-4">
                    <h5 class="col-xs-8">Hi,{{ Username }}</h5>
                    <button class="col-xs-4 more bg-dark btn-secondary ml-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Options</button>
                </div>
            </div>
                <!-- button-1 -->
                

                <div class="container on-desktop colapse"  id="collapseExample">
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group dropright">
                            <button type="button" class="col-lg-12 bg-dark btn btn-secondary dropdown-toggle"  style="border:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Student Achievements
                            </button>
                            <div class="dropdown-menu">
                              <!-- Dropdown menu links -->
                              <a href="./ExtraCurricularActivities.html" class="dropdown-item">Extra-curricular Activities</a>
                              <a href="./Cocur.html" class="dropdown-item">Co-curricular Activities</a> 
                              <a href="./StudentPaperPublicationGen.html" class="dropdown-item">Student Paper Publication In General</a>
                              <a href="./StudentPaperPublicationConference.html" class="dropdown-item">Student Paper publicationPublication In Conference</a>
                              <a href="./Course.html" class="dropdown-item">MOOC Course Details</a>
                              <a href="./Internship.html" class="dropdown-item">Internships</a>
                            </div>
                          </div>
                </div>
                <!-- button-2 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                            <a href="./ResultAnalysis.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Student Result Analysis
                            </a>
                </div>
                <!-- button-3 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group dropright">
                            <button type="button" class="col-lg-12 bg-dark btn btn-secondary dropdown-toggle"  style="border:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Student Feedback
                            </button>
                            <div class="dropdown-menu">
                              <a href="" class="dropdown-item">CO Feedback</a> 
                              <a href="" class="dropdown-item">Alumni Feedback</a>
                              <a href="" class="dropdown-item">Course-Exit Feedback</a>
                            </div>
                          </div>
                </div>

                <!-- button-4 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group dropright">
                            <button type="button" class="col-lg-12 bg-dark btn btn-secondary dropdown-toggle"  style="border:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Faculty Achievement
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                                <a href="./paperpublicationinJournal.html"  class="dropdown-item"> Paper Publication in Journal</a> 
                                <a href="./paperpublicationinConferences.html"  class="dropdown-item"> Paper Publication/Presentation in Conferences</a>
                                <a href="./BookChapterPublication.html" class="dropdown-item">Book Chapter Publication</a>
                                <a href="./MoocCourseDetais.html" class="dropdown-item">MOOC Course Details</a>
                                <a href="./FDP.html" class="dropdown-item">Faculty Devolpment Program</a>
                            </div>
                            </div>
                </div>
                <!-- button-5 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group">
                            <a href="./ProjectFunding.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Project Funding/Grants
                            </a>
                            <div class="dropdown-menu">
                              <!-- Dropdown menu links -->
                            </div>
                          </div>
                </div>
                <!-- button-6 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group ">
                            <a href="./patent.html" class="col-lg-12 bg-dark btn btn-secondary "  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Patent/IPR Details
                            </a>
                            <div class="dropdown-menu">
                              <!-- Dropdown menu links -->
                            </div>
                          </div>
                </div>                
                <!-- button-7 -->
                <div class="row justify-content-center">
                  <div class="col-lg-12 bg-warning my-1">
                  </div>
                          <a href="./FID.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                            Faculty Innovation Details
                          </a>
              </div>
                    <!-- button-8 -->
                    <div class="row justify-content-center">
                      <div class="col-lg-12 bg-warning my-1">
                      </div>
                              <a href="./otherachivementsbyFacuty.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                                Other Achievements by Faculties
                              </a>
                  </div>
                  <!-- button-9 -->
                  <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                            <a href="./EventActivityReports.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Event /Activity Reports
                            </a>
                </div>
                    <!-- button-10 -->
                    <div class="row justify-content-center">
                      <div class="col-lg-12 bg-warning my-1">
                      </div>
                              <a href="./FD.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Faculty Details
                              </a>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                    <footer class="justify-content-center py-4">&copy; Copyright 2021 Tech</footer>
     
                </div>
              </div>
        </div>
        <!-- Dynamic container -->
        <div class="col-lg-9  col-sm-12 col-xs-12 bg-white form-property scroll">
          <div class="container-fluid">
            <div class="row bg-dark py-2 justify-content-around" style="height: auto;border-color: warning;">
              <div class="col-lg-8 py-2">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
                <mark class="bg-dark" style="color: white">Student Achievement/MOOC Course Details</mark>
              </div>
              <div class="col-lg-4">
                <a href="./logout.html" class="btn btn-outline-warning">Logout</a>
              </div>
            </div>
            <div class="row my-5 mx-3">
            <!-- form -->
              <div class="container">
                <form action="./Course.html" method="POST" onsubmit="return formValidator()" id="myForm" enctype="multipart/form-data">
                  <!-- usn & name-->
                  <div class="row form-group">
                    <label class="col-lg-1 m-1" for="USN">USN</label>
                    <input  type="text" class="form-control col-lg-4" id="USN"  placeholder="Enter USN" name="USN" required>
                    <label class="col-lg-1 m-2" for="Name">Name</label>
                    <input  type="text" class="form-control col-lg-4" id="Name"  placeholder="Enter Student Name" name="Name" required>
                  </div>
                  <!-- usn & name-->
                  <!-- name -->
                  <!-- <div class="row form-group justify-content-center">
                    <label class="col-sm-2" for="Name">Name</label>
                    <input  type="text" class="form-control col-sm-10" id="Name"  placeholder="Enter Student Name" name="Name" required>
                  </div> -->
                  <!-- name -->
                  <!-- name-of-Course -->
                  <div class="row form-group">
                    <label class="" for="name-of-Course">Name of Course</label>
                    <input  type="text" class="form-control" id="name-of-Course"  placeholder="Enter Name of Course" name="name-of-Course" required>
                  </div>
                  <!-- name-of-Course -->
                  <!-- Course-Offered-Organization-->
                  <div class="row form-group">
                    <label class="" for="Course-Offered-Organization"> Course Offered Organization</label>
                    <input  type="text" class="form-control" id="Course-Offered-Organization"  placeholder="Enter  Course Offered Organization" name="Course-Offered-Organization" required>
                  </div>
                  <!--  Course-Offered-Organization -->
                  <!-- Mode-of-Workshop -->
                  <div class="row form-group">
                    <label class="" for="Mode-of-Workshop">Mode of FDP/STTP/Workshop</label>
                    <input  type="text" class="form-control" id="Mode-of-Workshop"  placeholder="Enter Mode of FDP/STTP/Workshop" name="Mode-of-Workshop" required>
                  </div>
                  <!--Mode-of-Workshop -->
                <!-- Start Date& End Stae-->
                <div class="row form-group justify-content-start">
                    <label class="col-lg-2 align-self-center" for="Start-Date">Start Date</label>
                    <input  type="Date" class="form-control col-lg-3" id="Start-Date"  name="Start-Date" required>
                    <label class="col-lg-2 align-self-center" for="End-Date">End Date</label>
                    <input  type="Date" class="form-control col-lg-3" id="End-Date" name="End-Date" required>
                </div>
                    <!--Start Date& End Dtae-->
                  <!-- No-of-Days -->
                  <div class="row form-group">
                    <label class="" for="No-of-Days">No of Days</label>
                    <input  type="number" min="1" class="form-control" id="No-of-Days"  placeholder="Enter No of Days" name="No-of-Days">
                  </div>
                  <!-- No-of-Days -->
                  <!-- proofs -->
                  <div class="row form-group">
                    <label class="" for="Proof">Upload certificate(Proof)</label>
                    {{  form.hidden_tag()  }}
                    <input type="file" class="form-control" name="file" required="required">
                  </div>
                  <!-- proofs -->
                  {{ form.submit(  class="row btn btn-danger justify-content-start"  )  }}
                  <a type="clear" class="row btn  btn-danger  mx-4 text-white" onclick="myFunction()" >Clear</a>
                </form>
              </div>
            <!-- end of form -->
          </div>
        </div>
        </div>
        <!-- end of dynamic container -->
     </div>
 </div>
 <script src="../static/Home.js">
 </script>
</body>
</html>