<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="../static/DashBoard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="E:\ic project\bootsrap 4\project-1\js\all.js"></script>
    <title>Home page</title>
</head>
<body style="background-color: slategrey;">
 <div class="container">
     <!-- navigation bar -->
     <div class="row">
        <div class="col-lg-3  col-sm-12 col-xs-12 bg-dark nav-property">
            <div class="container">
                <div class="row justify-content-center py-4">
                    <h5 class="col-xs-8">Hi,{{Username}}</h5>
                    <button class="col-xs-4 more bg-dark btn-secondary ml-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Options</button>
                </div>
            </div>
                <!-- button-1 -->
                

                <div class="container on-desktop colapse"  id="collapseExample">
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group dropright">
                            <button type="button" class="col-lg-12 bg-dark btn btn-secondary dropdown-toggle"  style="border:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Student Achievements
                            </button>
                            <div class="dropdown-menu">
                              <!-- Dropdown menu links -->
                              <a href="./ExtraCurricularActivities.html" class="dropdown-item">Extra-curricular Activities</a>
                              <a href="./Cocur.html" class="dropdown-item">Co-curricular Activities</a> 
                              <a href="./StudentPaperPublicationGen.html" class="dropdown-item">Student Paper Publication In General</a>
                              <a href="./StudentPaperPublicationConference.html" class="dropdown-item">Student Paper publicationPublication In Conference</a>
                              <a href="./Course.html" class="dropdown-item">MOOC Course Details</a>
                              <a href="./Internship.html" class="dropdown-item">Internships</a>
                            </div>
                          </div>
                </div>
                <!-- button-2 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                            <a href="./ResultAnalysis.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Student Result Analysis
                            </a>
                </div>
                <!-- button-3 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group dropright">
                            <button type="button" class="col-lg-12 bg-dark btn btn-secondary dropdown-toggle"  style="border:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Student Feedback
                            </button>
                            <div class="dropdown-menu">
                              <a href="" class="dropdown-item">CO Feedback</a> 
                              <a href="" class="dropdown-item">Alumni Feedback</a>
                              <a href="" class="dropdown-item">Course-Exit Feedback</a>
                            </div>
                          </div>
                </div>

                <!-- button-4 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group dropright">
                            <button type="button" class="col-lg-12 bg-dark btn btn-secondary dropdown-toggle"  style="border:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Faculty Achievement
                            </button>
                            <div class="dropdown-menu">
                                <!-- Dropdown menu links -->
                                <a href="./paperpublicationinJournal.html"  class="dropdown-item"> Paper Publication in Journal</a> 
                                <a href="./paperpublicationinConferences.html"  class="dropdown-item"> Paper Publication/Presentation in Conferences</a>
                                <a href="./BookChapterPublication.html" class="dropdown-item">Book Chapter Publication</a>
                                <a href="./MoocCourseDetais.html" class="dropdown-item">MOOC Course Details</a>
                                <a href="./FDP.html" class="dropdown-item">Faculty Devolpment Program</a>
                            </div>
                            </div>
                </div>
                <!-- button-5 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group">
                            <a href="./ProjectFunding.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Project Funding/Grants
                            </a>
                            <div class="dropdown-menu">
                              <!-- Dropdown menu links -->
                            </div>
                          </div>
                </div>
                <!-- button-6 -->
                <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                        <div class="btn-group ">
                            <a href="./patent.html" class="col-lg-12 bg-dark btn btn-secondary "  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Patent/IPR Details
                            </a>
                            <div class="dropdown-menu">
                              <!-- Dropdown menu links -->
                            </div>
                          </div>
                </div>                
                <!-- button-7 -->
                <div class="row justify-content-center">
                  <div class="col-lg-12 bg-warning my-1">
                  </div>
                          <a href="./FID.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                            Faculty Innovation Details
                          </a>
              </div>
                    <!-- button-8 -->
                    <div class="row justify-content-center">
                      <div class="col-lg-12 bg-warning my-1">
                      </div>
                              <a href="./otherachivementsbyFacuty.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                                Other Achievements by Faculties
                              </a>
                  </div>
                  <!-- button-9 -->
                  <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                            <a href="./EventActivityReports.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Event /Activity Reports
                            </a>
                </div>
                    <!-- button-10 -->
                    <div class="row justify-content-center">
                      <div class="col-lg-12 bg-warning my-1">
                      </div>
                              <a href="./FD.html" class="col-lg-12 bg-dark btn btn-secondary"  style="border:none;" aria-haspopup="true" aria-expanded="false">
                              Faculty Details
                              </a>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-lg-12 bg-warning my-1">
                    </div>
                    <footer class="justify-content-center py-4">&copy; Copyright 2021 Tech</footer>
     
                </div>
              </div>
        </div>
        <!-- Dynamic container -->
        <div class="col-lg-9  col-sm-12 col-xs-12 bg-white form-property scroll">
          <div class="container-fluid">
            <div class="row bg-dark py-2 justify-content-around" style="height: auto;border-color: warning;">
              <div class="col-lg-8 py-2">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
                <mark class="bg-dark" style="color: white">Patent/IPR Details</mark>
              </div>
              <div class="col-lg-4">
                <a href="./logout.html" class="btn btn-outline-warning">Logout</a>
              </div>
            </div>
            <div class="row my-5 mx-3">
            <!-- form -->
              <div class="container">
                <form action="./patent.html" method="POST" onsubmit="return formValidatorFID()" id="myForm" enctype="multipart/form-data">
                <!-- facultyid & name-->
                <div class="row form-group">
                  <label class="col-lg-1 m-1" for="FID">FID</label>
                  <input  type="text" class="form-control col-lg-4" id="FID"  placeholder="Enter Faculty ID" name="FID" required>
                  <label class="col-lg-1 m-2" for="FName">Name</label>
                  <input  type="text" class="form-control col-lg-4" id="FName"  placeholder="Enter Faculty Name" name="FName" required>
                </div>
                <!-- facultyid & name-->
                  <!-- name -->
                  <!-- <div class="row form-group justify-content-center">
                    <label class="col-sm-2" for="Name">Name</label>
                    <input  type="text" class="form-control col-sm-10" id="Name"  placeholder="Enter Student Name" name="Name" required>
                  </div> -->
                  <!-- name -->
              
                  <!-- Title-->
                  <div class="row form-group">
                    <label class="" for="Title">Title</label>
                    <input  type="text" class="form-control" id="Title"  placeholder="Enter Title" name="Title">
                  </div>
                  <!-- Title -->
                <!-- Patent-Reference-Number -->
                <div class="row form-group">
                <label class="" for="Patent-Reference-Number ">Patent Reference Number </label>
                <input  type="text" class="form-control" id="Patent-Reference-Number"  placeholder="Enter Patent Reference Number" name="Patent-Reference-Number" required>
                </div>
                <!-- Patent-Reference-Number  -->
                  <!--Country -->
                  <div class="row form-group">
                    <label class="" for="Country">Country</label>
                    <select  class="form-control" id="country" name="country">
                        <option value="Afganistan">Afghanistan</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australia">Australia</option>
                        <option value="Austria">Austria</option>
                        <option value="Azerbaijan">Azerbaijan</option>
                        <option value="Bahamas">Bahamas</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Belarus">Belarus</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Belize">Belize</option>
                        <option value="Benin">Benin</option>
                        <option value="Bermuda">Bermuda</option>
                        <option value="Bhutan">Bhutan</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Bonaire">Bonaire</option>
                        <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                        <option value="Botswana">Botswana</option>
                        <option value="Brazil">Brazil</option>
                        <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                        <option value="Brunei">Brunei</option>
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="Burkina Faso">Burkina Faso</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Cambodia">Cambodia</option>
                        <option value="Cameroon">Cameroon</option>
                        <option value="Canada">Canada</option>
                        <option value="Canary Islands">Canary Islands</option>
                        <option value="Cape Verde">Cape Verde</option>
                        <option value="Cayman Islands">Cayman Islands</option>
                        <option value="Central African Republic">Central African Republic</option>
                        <option value="Chad">Chad</option>
                        <option value="Channel Islands">Channel Islands</option>
                        <option value="Chile">Chile</option>
                        <option value="China">China</option>
                        <option value="Christmas Island">Christmas Island</option>
                        <option value="Cocos Island">Cocos Island</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Comoros">Comoros</option>
                        <option value="Congo">Congo</option>
                        <option value="Cook Islands">Cook Islands</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cote DIvoire">Cote DIvoire</option>
                        <option value="Croatia">Croatia</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Curaco">Curacao</option>
                        <option value="Cyprus">Cyprus</option>
                        <option value="Czech Republic">Czech Republic</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Dominican Republic">Dominican Republic</option>
                        <option value="East Timor">East Timor</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Egypt">Egypt</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                        <option value="Eritrea">Eritrea</option>
                        <option value="Estonia">Estonia</option>
                        <option value="Ethiopia">Ethiopia</option>
                        <option value="Falkland Islands">Falkland Islands</option>
                        <option value="Faroe Islands">Faroe Islands</option>
                        <option value="Fiji">Fiji</option>
                        <option value="Finland">Finland</option>
                        <option value="France">France</option>
                        <option value="French Guiana">French Guiana</option>
                        <option value="French Polynesia">French Polynesia</option>
                        <option value="French Southern Ter">French Southern Ter</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Gibraltar">Gibraltar</option>
                        <option value="Great Britain">Great Britain</option>
                        <option value="Greece">Greece</option>
                        <option value="Greenland">Greenland</option>
                        <option value="Grenada">Grenada</option>
                        <option value="Guadeloupe">Guadeloupe</option>
                        <option value="Guam">Guam</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Guyana">Guyana</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Hawaii">Hawaii</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="Hungary">Hungary</option>
                        <option value="Iceland">Iceland</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="India">India</option>
                        <option value="Iran">Iran</option>
                        <option value="Iraq">Iraq</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Isle of Man">Isle of Man</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Kiribati">Kiribati</option>
                        <option value="Korea North">Korea North</option>
                        <option value="Korea Sout">Korea South</option>
                        <option value="Kuwait">Kuwait</option>
                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                        <option value="Laos">Laos</option>
                        <option value="Latvia">Latvia</option>
                        <option value="Lebanon">Lebanon</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Libya">Libya</option>
                        <option value="Liechtenstein">Liechtenstein</option>
                        <option value="Lithuania">Lithuania</option>
                        <option value="Luxembourg">Luxembourg</option>
                        <option value="Macau">Macau</option>
                        <option value="Macedonia">Macedonia</option>
                        <option value="Madagascar">Madagascar</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Maldives">Maldives</option>
                        <option value="Mali">Mali</option>
                        <option value="Malta">Malta</option>
                        <option value="Marshall Islands">Marshall Islands</option>
                        <option value="Martinique">Martinique</option>
                        <option value="Mauritania">Mauritania</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mayotte">Mayotte</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Midway Islands">Midway Islands</option>
                        <option value="Moldova">Moldova</option>
                        <option value="Monaco">Monaco</option>
                        <option value="Mongolia">Mongolia</option>
                        <option value="Montserrat">Montserrat</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Myanmar">Myanmar</option>
                        <option value="Nambia">Nambia</option>
                        <option value="Nauru">Nauru</option>
                        <option value="Nepal">Nepal</option>
                        <option value="Netherland Antilles">Netherland Antilles</option>
                        <option value="Netherlands">Netherlands (Holland, Europe)</option>
                        <option value="Nevis">Nevis</option>
                        <option value="New Caledonia">New Caledonia</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Niue">Niue</option>
                        <option value="Norfolk Island">Norfolk Island</option>
                        <option value="Norway">Norway</option>
                        <option value="Oman">Oman</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Palau Island">Palau Island</option>
                        <option value="Palestine">Palestine</option>
                        <option value="Panama">Panama</option>
                        <option value="Papua New Guinea">Papua New Guinea</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Phillipines">Philippines</option>
                        <option value="Pitcairn Island">Pitcairn Island</option>
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Republic of Montenegro">Republic of Montenegro</option>
                        <option value="Republic of Serbia">Republic of Serbia</option>
                        <option value="Reunion">Reunion</option>
                        <option value="Romania">Romania</option>
                        <option value="Russia">Russia</option>
                        <option value="Rwanda">Rwanda</option>
                        <option value="St Barthelemy">St Barthelemy</option>
                        <option value="St Eustatius">St Eustatius</option>
                        <option value="St Helena">St Helena</option>
                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                        <option value="St Lucia">St Lucia</option>
                        <option value="St Maarten">St Maarten</option>
                        <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                        <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                        <option value="Saipan">Saipan</option>
                        <option value="Samoa">Samoa</option>
                        <option value="Samoa American">Samoa American</option>
                        <option value="San Marino">San Marino</option>
                        <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Seychelles">Seychelles</option>
                        <option value="Sierra Leone">Sierra Leone</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Slovakia">Slovakia</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="Solomon Islands">Solomon Islands</option>
                        <option value="Somalia">Somalia</option>
                        <option value="South Africa">South Africa</option>
                        <option value="Spain">Spain</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Suriname">Suriname</option>
                        <option value="Swaziland">Swaziland</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Syria">Syria</option>
                        <option value="Tahiti">Tahiti</option>
                        <option value="Taiwan">Taiwan</option>
                        <option value="Tajikistan">Tajikistan</option>
                        <option value="Tanzania">Tanzania</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Togo">Togo</option>
                        <option value="Tokelau">Tokelau</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                        <option value="Tunisia">Tunisia</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                        <option value="Tuvalu">Tuvalu</option>
                        <option value="Uganda">Uganda</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Erimates">United Arab Emirates</option>
                        <option value="United States of America">United States of America</option>
                        <option value="Uraguay">Uruguay</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                        <option value="Vanuatu">Vanuatu</option>
                        <option value="Vatican City State">Vatican City State</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Vietnam">Vietnam</option>
                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                        <option value="Wake Island">Wake Island</option>
                        <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                        <option value="Yemen">Yemen</option>
                        <option value="Zaire">Zaire</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                     </select>
                  </div>
                  <!--country -->
                <!-- Volume Number -->
                <!-- <div class="row form-group">
                <label class="" for="VolumeNumber"> Volume Number </label>
                <input  type="Number" min="1" class="form-control" id="VolumeNumber"  placeholder="Enter  Volume Number " name="VolumeNumber" required>
                </div> -->
                <!--  Volume Number  -->
                <!-- Page Number -->
                <!-- <div class="row form-group">
                <label class="" for="PageNumber"> Page Number </label>
                <input  type="Number" min="1" class="form-control" id="PageNumber"  placeholder="Enter  Page Number " name="PageNumber" required>
                </div> -->
                <!--  Page Number  -->
                <!-- Date-of-Filing -->
                <div class="row form-group">
                    <label class="" for="Date-of-Filing"> Date of Filing </label>
                    <input  type="Date"  class="form-control" id="Date-of-Filing"  placeholder="Enter  Date-of-Filing " name="Date-of-Filing" required>
                    </div>
                <!--  Date-of-Filing -->
                <!-- Date-of-Approval -->
                <div class="row form-group">
                    <label class="" for="Date-of-Approval"> Date of Approval </label>
                    <input  type="Date"  class="form-control" id="Date-of-Approval"  placeholder="Enter  Date-of-Approval " name="Date-of-Approval" required>
                    </div>
                <!--  Date-of-Approval -->
                  <!-- proofs -->
                  <div class="row form-group">
                    <label class="" for="Proof">Upload certificate(Proof)</label>
                    {{  form.hidden_tag()  }}
                    <input type="file" class="form-control" name="file" required="required">
                  </div>
                  <!-- proofs -->
                  {{ form.submit(  class="row btn btn-danger justify-content-start"  )  }}
                  <a type="clear" class="row btn  btn-danger  mx-4 text-white" onclick="myFunction()" >Clear</a>
                </form>
              </div>
            <!-- end of form -->
          </div>
        </div>
        </div>
        <!-- end of dynamic container -->
     </div>
 </div>
 <script src="../static/Home.js">
 </script>
</body>
</html>